<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>FoodZilla</span>
</div>

<body class="content">
  <p class="search-bar">
    <mat-form-field appearance="outline" [style.width.%]=65>
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search">
    </mat-form-field>
    <button mat-mini-fab color="white" aria-label="Scan QR Code">
      <mat-icon>camera_alt</mat-icon>
    </button>
  </p>
  <app-restaurant-card *ngFor="let rests of allRests" class="cards" 
  [restName]="rests[0]"
  [restId]="rests[1]"
  [restManagerId]="rests[2]"
  [restWaitTime]="rests[3]"
  [restMenuLink]="rests[4]"
  [restDiningTables]="rests[5]"
  [restFreeTables]="rests[6]"
  ></app-restaurant-card>
</body>
