<mat-expansion-panel class="card-title" [disabled]="true" [expanded]="true">
    <mat-expansion-panel-header class="card">
      <mat-panel-title>
        <h3 class="md-headline">
          {{ restName }}
        </h3>
      </mat-panel-title>
      <mat-panel-description>
        {{ restWaitTime }}
        {{ restMenuLink }}
        <button id="basic" type="button" mat-button (click)="layoutMode=!layoutMode">
          Toggle Layout Mode
        </button>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <p  class="table-display">
      <mat-grid-list cols="8" colspan = "1" rowHeight="3:2">
        <mat-grid-tile *ngFor = "let tile of tiles"
        [style.background]="tile.color">
        <button id="basic" type="button" mat-button (click)="updateSeats(tile.pos, tile.color, layoutMode)">
          {{tile.seats}}
        </button>
      </mat-grid-tile>
      </mat-grid-list>
    </p>
</mat-expansion-panel>